<template>
  <article class="attachment">
    <div class="title">
      <img v-if="data.logo" :src="data.logo" class="logo" />
      <h5 v-if="data.title">{{ data.title }}</h5>
    </div>
    <a v-if="data.url" :href="data.url" target="_blank">
      {{ data.url }}
    </a>
    <p v-if="data.description">
      <small>{{ data.description }}</small>
    </p>
    <figure v-if="data.image">
      <blockquote></blockquote>
      <img :src="data.image" />
    </figure>
  </article>
</template>

<script>
export default {
  name: 'attachment',
  props: {
    data: Object
  }
}
</script>

<style lang="scss" scoped>
.title {
  display: flex;
  align-items: center;
}

figure {
  display: flex;
}

blockquote {
  width: 3px;
  height: 199px;
  margin-right: 8px;
  background: lime;
}

img {
  position: relative;
  width: 199px;
  height: 199px;
  object-fit: cover;
  margin: 2px 0px;
}

.logo {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}

article {
  position: relative;
  padding-bottom: 12px;
}
</style>
