<template>
  <div>
    <cv-modal
      close-aria-label="close"
      size="default"
      :visible="hasDialog"
      :primary-button-disabled="!model.email"
      @modal-hidden="hasDialog = false"
      @primary-click="onSubmit"
      @secondary-click="hasDialog = false"
    >
      <template slot="title">Sign Up / Sign In</template>
      <template slot="content">
        <div class="bx--form-item">
          <label for="email" class="bx--label">Email</label>
          <input
            v-model="model.email"
            id="email"
            type="email"
            @keyup.enter="onSubmit"
            class="bx--text-input"
            placeholder="foo@bar.com"
            data-modal-primary-focus
          />
        </div>
      </template>
      <template slot="secondary-button">cancel</template>
      <template slot="primary-button">submit</template>
    </cv-modal>
    <cv-toast-notification
      v-if="toasting"
      :title="toastText"
      @close="toasting = false"
    ></cv-toast-notification>
  </div>
</template>

<script>
export default {
  name: 'auth',
  props: ['show'],
  data() {
    return {
      model: {},
      toasting: false,
      toastText: ''
    }
  },
  computed: {
    hasDialog: {
      get() {
        return this.show
      },
      set(val) {
        this.$emit('close', val)
      }
    }
  },
  sockets: {
    email(data) {
      this.toastText = 'Email has  been sent!'
      this.showToast()
    }
  },
  methods: {
    showToast() {
      this.toasting = true
    },
    onSubmit() {
      this.$socket.emit('attempt', this.model)
      this.model = {}
      this.hasDialog = false
      this.toastText =
        'An access link will be sent. This window will be automatically logged in!'
      this.showToast()
    }
  }
}
</script>

<style lang="scss" scoped></style>
