<template>
  <article
    class="card bg-gray-300 flex-grow bg-lime rounded overflow-hidden shadow-lg"
  >
    <div
      class="w-full image"
      v-lazy:background.container="image"
    ></div>
    <div class="px-6 py-4">
      <div class="font-bold text-2xl mb-1 text-black">
        {{ title }}
      </div>
      <p class="text-black text-lg leading-loose">
        {{ description }}
      </p>
      <slot />
    </div>
  </article>
</template>

<script>
export default {
  name: 'Card',
  props: {
    title: {
      type: String
    },
    description: {
      type: String
    },
    image: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped lang="scss">
$mainC: darken($main, 9%);

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex-direction: column;
  border-radius: 20px;
  background: $mainC;
  border: 1px solid $mainC;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0.1),
    7px 7px 15px rgba(55, 84, 170, 0.35),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}
.image {
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
  background-size: cover !important;
}
</style>
