<template>
  <div class="error">
    <h1 v-if="error.message">{{ error.message }}</h1>
    <p>
      Status code: <strong>{{ statusCode }}</strong>
    </p>
    <pre v-if="error.stack">{{ error.stack }}</pre>
  </div>
</template>

<script>
export default {
  name: 'error',
  computed: {
    error() {
      return this.$errorHandler.error
    },
    statusCode() {
      return this.$errorHandler.statusCode
    }
  }
}
</script>

<style lang="scss" scoped>
.error {
  display: flex;
  height: 100vh;
  padding: 24px;
  flex-direction: column;
  justify-contnent: center;
  align-itmes: center;
}
</style>
