<template>
  <textarea
    v-if="textarea"
    class="focus:outline-none"
    ref="input"
    :class="customClasses"
    :value="value"
    @focus="resize($event.target)"
    @blur="onBlur"
    @input="onInput"
    @click="evt => evt.stopPropagation()"
  />
  <input
    v-else-if="isCheck"
    class="focus:outline-none"
    ref="input"
    :class="customClasses"
    :type="type"
    :checked="isCheck ? value : ''"
    @input="onInput"
    @click="evt => evt.stopPropagation()"
  />
  <input
    v-else
    class="focus:outline-none"
    ref="input"
    :class="customClasses"
    :type="type"
    :value="isCheck ? '' : value"
    @input="onInput"
    @click="evt => evt.stopPropagation()"
    @keyup.enter="$emit('enter')"
  />
</template>

<script>
export default {
  name: 'Field',
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    textarea: {
      type: Boolean,
      default: false
    },
    value: {
      type: null
    },
    data: {
      type: null
    },
    type: {
      type: String,
      default: 'text'
    },
    customClasses: {
      type: null,
      default: []
    }
  },
  computed: {
    isCheck() {
      return typeof this.value === 'boolean'
    }
  },
  watch: {
    textarea() {
      this.$nextTick(() => this.$refs.input.focus())
    }
  },
  methods: {
    onBlur({ target }) {
      target.style.height = 'auto'
    },
    onInput({ target }) {
      this.resize(target)
      this.$emit(
        'change',
        this.isCheck ? target.checked : target.value
      )
    },
    resize(target) {
      target.style.height = 'auto'
      target.style.height = `${target.scrollHeight}px`
    }
  }
}
</script>
<style scoped>
input {
  border-radius: 9px;
}
input,
textarea {
  box-shadow: 0px 10px 15px rgba(55, 84, 170, 0.25);
}
</style>
