<template>
  <footer>
    <cv-link to="/about">
      <p>About</p>
    </cv-link>
    <p>
      &copy; livehacks | 2021
    </p>
    <cv-tag kind="red" label="0.1.0-alpha.12"></cv-tag>
  </footer>
</template>

<script>
export default {
  name: 'foot'
}
</script>

<style lang="scss" scoped>
footer {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px 8px;
  background: #1e2021;
  color: lime;
}
</style>
