<template>
  <code :class="lang">
    <slot></slot>
  </code>
</template>
<script>
import hljs from 'highlight.js'

export default {
  name: 'highlight',
  props: ['lang'],
  mounted() {
    hljs.configure({ useBR: true })
    hljs.highlightBlock(this.$el)
  },
}
</script>

<style lang="stylus" scoped></style>
