<template>
  <router-link :to="`/channel/${stream.user.id}`">
    <card
      class="mb-8"
      :image="stream.preview"
      :title="stream.title"
      :description="stream.description"
    >
      <small class="mb-4">
        {{ timeText }}
        <timeago
          :datetime="timeSince"
          :auto-update="60"
        ></timeago>
      </small>
      <profile
        class="mt-2"
        :user="stream.user"
        :live="stream.deleted_at === null"
        :viewers="stream.viewers"
      />
    </card>
  </router-link>
</template>

<script>
import Profile from './Profile'
import Card from './Card'

export default {
  name: 'LiveStream',
  components: { Profile, Card },
  props: ['stream'],
  computed: {
    timeText() {
      return this.stream.deleted_at ? 'Ended' : 'Went live'
    },
    timeSince() {
      return this.stream.deleted_at
        ? this.stream.deleted_at
        : this.stream.created_at
    }
  }
}
</script>

<style lang="scss" scoped></style>
