<template>
  <transition name="fade-in">
    <div
      v-show="isActive"
      class="fixed bg-alpha w-full top-0 left-0 right-0 bottom-0 flex items-center justify-center p-4 modal"
    >
      <div class="w-full max-w-lg bg-black shadow-lg window">
        <img class="w-full" v-show="logo" :src="logo" />
        <div class="flex justify-center p-4 flex-col">
          <p
            v-show="message"
            class="w-full text-lg my-2 font-semibold tracking-tight text-gray-600 rounded-t-lg"
          >
            {{ message }}
          </p>
          <form
            v-if="isLogin"
            @submit.prevent="handler(true, $event, model)"
          >
            <field
              ref="email"
              type="email"
              v-model="model"
              placeholder="email@example.com"
              custom-classes="appearance-none border-2 w-full py-2 px-3 text-gray-900 border-white"
            />
          </form>
        </div>
        <div
          class="flex btns justify-around w-full p-4 border-t-2 border-gray-300"
        >
          <button
            class="cancel flex-1 text-white font-bold py-2"
            @click="handler(false, $event)"
          >
            {{ cancelText }}
          </button>
          <button
            class="confirm flex-1 text-black font-bold py-4"
            @click="handler(true, $event, model)"
            :disabled="isLogin && !model"
          >
            {{ confirmText }}
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import Field from './Field'

if (process.client) {
  import('@lottiefiles/lottie-player')
}

export default {
  name: 'Modal',
  programmatic: true,
  components: { Field },
  props: {
    isLogin: {
      type: Boolean,
      default: false
    },
    logo: {
      type: String
    },
    message: {
      type: String
    },
    cancelText: {
      type: String,
      default: 'No'
    },
    confirmText: {
      type: String,
      default: 'Yes'
    },
    handler: Function
  },
  data() {
    return {
      isActive: false,
      model: null
    }
  },
  beforeMount() {
    document.body.appendChild(this.$el)
    document.addEventListener('keyup', evt => {
      if (evt.keyCode === 27) {
        this.close()
      }
    })
  },
  mounted() {
    this.isActive = true
    if (this.isLogin) {
      setTimeout(() => this.$refs.email.$el.focus())
    }
  },
  destroyed() {
    document.onkeyup = null
  },
  methods: {
    close() {
      this.isActive = false
      this.$destroy()
      this.$el.remove()
    },
    clear() {
      this.model = null
    }
  }
}
</script>

<style lang="scss">
$main: darken(#f1f3f6, 11%);

.fade-in-enter-active,
.fade-in-leave-active {
  transition: all 0.3s ease-in;
}
.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}
.bg-alpha {
  background: rgba(black, 0.8);
}
.confirm {
  background: lime;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 10px 15px rgba(55, 84, 170, 0.25);
}
.cancel {
  @apply bg-red-600;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 10px 15px rgba(55, 84, 170, 0.25);
}
.btns {
  box-shadow: 0px 10px 15px rgba(55, 84, 170, 0.25);
}
.modal {
  z-index: 999;
}
</style>
