<template>
  <nav
    class="flex bg-black h-16 shadow-lg fixed top-0 right-0 left-0 items-center justify-between p-2 z-40"
  >
    <div class="flex items-center">
      <button
        @click="$emit('open')"
        class="p-2 text-lime w-8 h-8"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current w-full h-full"
          viewBox="0 0 20 20"
        >
          <path
            d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"
          />
        </svg>
      </button>
      <router-link
        class="flex flex-shrink text-white items-center p-2"
        exact-active-class="text-lime no-underline"
        to="/"
      >
        <span
          class="font-bold text-xs md:text-lg tracking-tight"
        >
          LIVEHACKS<small>tv</small>
        </span>
      </router-link>
    </div>
    <div
      class="flex max-w-sm sm:rounded-lg py-2 flex-shrink items-center justify-end"
    >
      <button
        class="bg-lime py-2 px-4 text-black rounded text-sm font-bold block mr-1"
        @click="onLogin"
        v-if="!currentUser"
      >
        Sign In
      </button>
    </div>
  </nav>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Navigation',
  computed: {
    ...mapState({
      currentUser: state => state.auth.currentUser
    })
  },
  data() {
    return {
      open: false
    }
  },
  beforeMount() {
    let lastScrollTop
    window.addEventListener('scroll', evt => {
      const { scrollTop } = evt.target.scrollingElement
      if (
        lastScrollTop &&
        scrollTop > this.$el.offsetHeight &&
        lastScrollTop <= scrollTop
      ) {
        this.$el.style.transform = `translateY(-100%)`
      } else {
        this.$el.style.transform = `translateY(0)`
      }
      lastScrollTop = scrollTop
    })
  },
  methods: {
    onLogin() {
      const self = this
      this.$modal.open({
        message: 'Enter your email to login or signup',
        confirmText: 'Get Link',
        cancelText: 'No Thanks',
        isLogin: true,
        async handler(hasConfirmed, evt, email) {
          if (!hasConfirmed) {
            this.close()
            return
          }
          self.$socket.emit('attempt', { email })
          this.close()
          self.$toast.open(
            {
              duration: 8000,
              message:
                'Check your email for the login link. You can leave this window open and it will be automatically logged in!',
              background: 'black',
              color: 'lime'
            },
            self
          )
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
nav {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 399;
}
.dropdown {
  top: 100%;
  right: 0;
}
</style>
