<template>
  <transition name="fade-in">
    <div
      v-show="currentUser && !currentUser.handle"
      class="fixed bg-alpha w-full top-0 left-0 right-0 bottom-0 flex items-center justify-center p-4 z-50"
    >
      <div class="w-full max-w-lg bg-gray-100 rounded shadow-lg">
        <div class="flex justify-center p-12 flex-col">
          <p
            class="w-full text-lg font-semibold tracking-tight text-gray-600 rounded-t-lg"
          >
            Execute this command in the prompt below
          </p>
          <highlight>
            usermod username
          </highlight>
          <p><small>e.g. usermod foo</small></p>
          <p>This command can be executed in any terminal</p>
          <div class="term-input">
            <term input />
          </div>
          <p>
            You must do this before continuing
          </p>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState } from 'vuex'
import Term from '@/components/Term'
import Highlight from '@/components/Highlight'

export default {
  name: 'new-user',
  components: { Term, Highlight },
  computed: {
    ...mapState({
      currentUser: state => state.auth.currentUser
    })
  }
}
</script>

<style lang="scss" scoped>
p {
  margin-top: 4px;
  margin-bottom: 4px;
}
</style>
