<template>
  <div
    class="player"
    :style="
      stream.preview
        ? `background-image:url(${stream.preview})`
        : 'background-color: black'
    "
  >
    <div
      class="backdrop"
      :style="
        stream.preview
          ? `background-image:url(${stream.preview})`
          : 'background-color: black'
      "
    ></div>
    <stream
      v-if="isLive !== null && source"
      @loading="isLoading = $event"
      @preview="onPreview"
      @update="onUpdate"
      :source="source"
    />
    <section
      v-if="!source || isLive === null"
      class="flex flex-col justify-around text-center p-2 z-2"
    >
      <div class="h-56">
        <no-ssr>
          <lottie-player
            v-pre
            autoplay
            loop
            mode="normal"
            src="https://assets2.lottiefiles.com/private_files/lf30_4y2cuiyr.json"
            class="w-56"
          >
          </lottie-player>
        </no-ssr>
      </div>
      <h1 class="text-4xl md:text-6xl text-white">Offline</h1>
      <p class="text-white">
        A stream will be here when {{ user.handle }} is live
      </p>
    </section>
    <header
      class="tools fixed left-0 p-4 hidden md:flex items-center justify-between w-full h-32"
      :class="{ active: hasOverlay }"
    >
      <profile
        class="mb-2"
        :user="user"
        :live="isLive"
        :viewers="stream.viewers"
      />
      <div
        v-if="!editing"
        class="text p-3 heading"
        @click="
          currentUser && currentUser.id === user.id
            ? (editing = !editing)
            : ''
        "
      >
        <h3 class="text-black mb-1 text-2xl md:text-4xl">
          {{ stream.title }}
        </h3>
        <p class="text-black">
          {{ stream.description }}
        </p>
      </div>
      <div
        v-else-if="
          editing && currentUser && currentUser.id === user.id
        "
        class="editor flex flex-col p-2"
      >
        <field
          class="mb-2"
          v-model="stream.title"
          type="text"
          placeholder="Title"
          @enter="onSubmit"
          custom-classes="appearance-none border-2 w-96 py-2 px-3 text-gray-900 border-white"
        />
        <field
          v-model="stream.description"
          type="text"
          placeholder="Description"
          @enter="onSubmit"
          custom-classes="w-96 appearance-none border-2 py-2 px-3 text-gray-900 border-white"
        />
      </div>
      <button
        :class="
          isLive !== null
            ? 'bg-red-600 text-white'
            : 'bg-black text-lime'
        "
        class="live-btn px-4 py-2 hidden md:flex"
        v-if="isStreamer"
        @click="toggleLive"
      >
        {{ liveButtonText }}
      </button>
    </header>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex'
import Profile from './Profile'
import Stream from './Stream'
import Field from './Field'

if (process.client) {
  import('@lottiefiles/lottie-player')
}

export default {
  name: 'player',
  components: { Stream, Profile, Field },
  props: ['source'],
  data() {
    return {
      editing: false
    }
  },
  created() {
    this.backup = { ...this.stream }
  },
  computed: {
    ...mapState({
      currentUser: state => state.auth.currentUser,
      user: state => state.users.user,
      isLive: state => state.users.isLive,
      hasOverlay: state => state.users.hasOverlay
    }),
    ...mapGetters(['isStreamer']),
    stream: {
      get() {
        return this.$store.state.users.stream
      },
      set(val) {
        this.stream = val
      }
    },
    liveButtonText() {
      if (!this.isLive) {
        return `${
          this.isLive === null ? 'Show Preview' : 'Go Live'
        }`
      } else {
        return 'End Stream'
      }
    }
  },
  methods: {
    ...mapMutations({
      setLive: 'users/setLive',
      setStream: 'users/setStream'
    }),
    async toggleLive() {
      if (!this.isLive) {
        if (this.isLive === null) {
          this.setLive(false)
        } else {
          this.setLive(true)
          this.$socket.emit('live', {
            user: this.currentUser
          })
        }
      } else {
        this.setLive(null)
      }
    },
    onSubmit() {
      if (this.stream.id && this.isLive) {
        delete this.stream.viewers
        this.$socket.emit('streamUpdate', this.stream)
      }
      this.backup = { ...this.stream }
      this.editing = false
    },
    onCancel() {
      this.setStream(this.backup)
      this.backup = { ...this.stream }
      this.editing = false
    },
    async onPreview(evt) {
      const stream = await this.$http.post('streams', {
        ...this.stream,
        preview: evt.link
      })
      this.setStream({
        ...this.stream,
        ...stream
      })
    },
    async onUpdate(evt) {
      const stream = await this.$http.put(
        `streams/${this.stream.id}`,
        {
          preview: evt.link
        }
      )
      this.setStream({
        ...this.stream,
        ...stream
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.player {
  position: relative;
  width: 100%;
  height: 100%;
  .backdrop {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    &:after {
      -webkit-backdrop-filter: blur(
        11px
      ); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
      backdrop-filter: blur(27px); /* Supported in Chrome 76 */
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
}
.heading {
  h3 {
    @apply py-1 px-3 text-gray-800 font-bold;
    background: darken($main, 4%);
    border-radius: 7px;
    box-shadow: inset 0 0 7px rgba(55, 84, 170, 0),
      inset 0 0 20px rgba(255, 255, 255, 0.1),
      7px 7px 18px rgba(55, 84, 170, 0.35),
      -7px -7px 20px rgba(255, 255, 255, 1),
      inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  }
}
video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 49;
}
section {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 60%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 768px) {
    width: 80%;
  }
}
.tools {
  z-index: 50;
  top: 64px;
  background: darken($main, 3%);
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  &.active {
    transform: translateY(0);
  }
  .live-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: 0px 10px 15px rgba(55, 84, 170, 0.25);
  }
}
</style>
