<template>
  <article class="profile px-6 py-4 my-2 rounded-lg relative">
    <div class="avatar">
      <div
        class="upload"
        v-if="
          currentUser &&
            currentUser.id === user.id &&
            $route.name === 'channel'
        "
      >
        <Image24 />
        <input type="file" accept="image/*" @change="onChange" />
      </div>
      <img :src="user.avatar" v-if="user.avatar" />
      <div
        v-else
        class="w-full h-full bg-black text-lime rounded-full flex items-center justify-center"
      >
        <h2 class="text-3xl font-bold">
          {{ user.handle.split('')[0].toUpperCase() }}
        </h2>
      </div>
    </div>
    <section class="text-black">
      <h5 class="font-bold text-lg">{{ user.handle }}</h5>
      <p>
        <small>
          Member since
          <timeago
            :datetime="user.created_at"
            :auto-update="60"
          ></timeago>
        </small>
      </p>
      <div class="live italic" v-if="live">
        <span class="bg-red-600 text-white p-1 rounded-lg mr-1"
          >Live now</span
        >
        <span v-if="viewers"
          >for {{ viewers.length }} viewers</span
        >
      </div>
    </section>
  </article>
</template>

<script>
import { mapState } from 'vuex'
const Image24 = require('@carbon/icons-vue/lib/image/24')

export default {
  name: 'profile',
  components: { Image24 },
  props: ['user', 'live', 'viewers'],
  computed: {
    ...mapState({
      currentUser: state => state.auth.currentUser
    })
  },
  methods: {
    async onChange({ target: { files } }) {
      if (!files[0]) return
      const blob = new Blob([files[0]], { type: files[0].type })
      const data = await this.$http.upload(blob, {
        params: { name: files[0].name }
      })
      this.$socket.emit('userUpdate', {
        avatar: data.link
      })
    }
  }
}
</script>

<style lang="scss" scoped>
$mainC: darken($main, 11%);

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  border-radius: 15px;
  box-shadow: inset 0 0 7px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0.1),
    7px 7px 18px rgba(55, 84, 170, 0.35),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}
.avatar {
  position: relative;
  width: 54px;
  height: 54px;
  margin-right: 8px;
  &:hover {
    svg {
      visibility: visible;
    }
  }
}
input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}
svg {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  fill: white;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.live {
  @apply absolute bottom-0;
  white-space: nowrap;
  transform: skew(-11deg) translateY(35%);
  span {
    box-shadow: 0px 10px 15px rgba(55, 84, 170, 0.25);
  }
}
img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
@keyframes pulsate {
  50% {
    transform: scale(1.1);
  }
}
</style>
