<template>
  <aside
    class="flex justify-between bg-black fixed w-80 shadow-lg flex-col p-4 h-screen pt-16"
  >
    <ul class="mt-4">
      <li class="mb-2" v-if="currentUser">
        <router-link
          class="text-white"
          active-class="text-lime"
          :to="`/channel/${currentUser.id}`"
        >
          📺 Channel
        </router-link>
      </li>
      <li class="mb-2">
        <router-link
          class="text-white"
          active-class="text-lime"
          to="/about"
        >
          📖 About
        </router-link>
      </li>
    </ul>
  </aside>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Sidebar',
  computed: {
    ...mapState({
      currentUser: state => state.auth.currentUser
    })
  }
}
</script>

<style scoped lang="scss">
aside {
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 100;
  &.active {
    transform: translateX(0);
  }
}
</style>
