<template>
  <video autoplay controls :muted="isStreamer"></video>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'stream',
  props: ['source'],
  computed: {
    ...mapState({
      isLive: state => state.users.isLive
    }),
    ...mapGetters(['isStreamer'])
  },
  mounted() {
    this.$emit('loading', false)
    this.$el.srcObject = this.source
  },
  watch: {
    async isLive(val) {
      if (!val) {
        if (this.previewInterval) {
          clearInterval(this.previewInterval)
        }
      } else {
        await this.createPreview()
      }
    }
  },
  methods: {
    async createPreview() {
      const canvas = document.createElement('canvas')
      canvas.width = 1280 / 2
      canvas.height = 720 / 2
      const ctx = canvas.getContext('2d')
      ctx.drawImage(this.$el, 0, 0, canvas.width, canvas.height)
      canvas.toBlob(async blob => {
        const preview = await this.$http.upload(blob, {
          params: { name: 'foo.png' }
        })
        if (!this.previewInterval) {
          this.$emit('preview', preview)
          this.previewInterval = setInterval(
            this.createPreview,
            300000
          )
        } else {
          this.$emit('update', preview)
        }
        canvas.remove()
        Promise.resolve()
      }, 'image/png')
    }
  }
}
</script>

<style lang="stylus" scoped></style>
