<template>
  <div :class="{ active: focused }" class="term font-mono z-100">
    <a
      v-if="
        $route.name !== 'chat' &&
        !input &&
        currentUser &&
        user &&
        currentUser.id === user.id
      "
      @click.prevent="$emit('popped')"
      class="pop-out"
    >
      <PopUp24 />
    </a>
    <ul
      v-if="!input"
      class="messages p-1 text-lime"
      ref="messages"
    >
      <li v-for="message of messages" v-if="messages.length > 0">
        <strong class="m-r-sm"
          >{{ message.handle || 'guest' }}
        </strong>
        <small class="m-r-sm">
          <timeago
            :datetime="message.created_at"
            :auto-update="60"
          ></timeago>
        </small>
        <span v-if="message.created_at !== message.updated_at"
          ><small>(edited)</small></span
        >
        <div class="message">
          <pre
            class="text"
            :class="
              message.text &&
              message.text.match(/./gu).length <= 3
                ? 'emoji'
                : ''
            "
            v-html="$markdown('\n' + message.text)"
          ></pre>
        </div>
        <div
          v-if="message.attachments.length"
          v-for="attachment of message.attachments"
        >
          <attachment :data="attachment" />
        </div>
      </li>
      <li v-else>Welcome to the chat</li>
    </ul>
    <div class="send flex items-center">
      <textarea
        :placeholder="prompt"
        rows="1"
        @keydown.enter="onCommand"
        @keyup="onEdit"
        @focus="focused = true"
        @blur="focused = false"
        ref="message"
        v-model="model.message"
      />
      <button
        w-10
        h-10
        @click="onCommand"
        :disbabled="!model.message"
      >
        <Terminal32 />
      </button>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import { mapState, mapMutations } from 'vuex'
import autosize from 'autosize'
import figlet from 'figlet'
import scrollMixin from '@/mixins/scrollMixin'
import Attachment from './Attachment'

const PopUp24 = require('@carbon/icons-vue/lib/popup/24')
const Terminal32 = require('@carbon/icons-vue/lib/terminal/32')
/*const standard = require('figlet/importable-fonts/Standard.js')*/

export default {
  name: 'term',
  mixins: [scrollMixin],
  components: { PopUp24, Attachment, Terminal32 },
  props: {
    input: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      model: { message: `` },
      focused: false
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.auth.currentUser,
      user: state => state.users.user,
      messages: state => state.users.messages
    }),
    endpoint() {
      return `messages/${this.user.id}`
    },
    prompt() {
      return this.currentUser &&
        this.currentUser.handle &&
        this.user
        ? `${this.currentUser.handle}@${this.user.handle}:~`
        : `guest@${this.user ? this.user.handle : 'unknown'}:~`
    }
  },
  sockets: {
    async messageCreated(message) {
      if (this.$route.params.id !== message.room_id) return
      this.addMessage(message)
      this.offset++
      this.$nextTick(() => {
        this.$refs.messages.scrollTop =
          this.$refs.messages.scrollHeight
      })
      if (
        this.currentUser &&
        this.user.id === this.currentUser.id &&
        !document.hasFocus()
      ) {
        await this.notify(message)
      }
    },
    async messageUpdated(message) {
      const index = this.messages.findIndex(
        m => m.id === message.id
      )
      Vue.set(this.messages, index, message)
    }
  },
  mounted() {
    if (window.outerWidth >= 768) {
      this.$refs.message.focus()
    }
    if (this.$refs.messages) {
      this.$refs.messages.scrollTop =
        this.$refs.messages.scrollHeight
      this.$refs.messages.addEventListener('scroll', () =>
        this.onScroll(this.$refs.messages)
      )
    }
    autosize(this.$refs.message)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll)
  },
  /*watch: {*/
  /*focused(val) {*/
  /*this.setOverlay(val)*/
  /*}*/
  /*},*/
  methods: {
    ...mapMutations({
      setOverlay: 'users/setOverlay',
      addMessages: 'users/addMessages',
      addMessage: 'users/addMessage'
    }),
    async onEdit(evt) {
      if (evt.keyCode === 38 && this.currentUser) {
        const messages = [...this.messages]
        this.editMessage = messages.reverse().find(message => {
          return this.currentUser.id === message.user_id
        })
        if (this.editMessage) {
          this.model.message = this.editMessage.text
        }
      }
    },
    async onCommand(evt) {
      if (this.editMessage) {
        await this.$http.put(`messages/${this.editMessage.id}`, {
          text: this.model.message.trim()
        })
        this.editMessage = null
        this.model.message = ''
        return
      }
      if (
        (evt.shiftKey && evt.keyCode === 13) ||
        this.model.message.trim() === ''
      ) {
        return
      } else {
        evt.preventDefault()
      }
      let result, message
      let [cmd, ...args] = this.model.message.trim().split(' ')
      switch (cmd) {
        case 'taskord':
          result = this.onTaskord(args[0])
          break
        case 'task':
          if (
            !this.currentUser ||
            (this.currentUser &&
              this.currentUser.id !== this.$route.params.id)
          ) {
            result = `
\`\`\`
You must be the channel owner to
create tasks :P
\`\`\`
            `
            break
          }
          if (window.localStorage.getItem('taskord')) {
            result = await this.onTask(args.join(' '))
          } else {
            result = `
\`\`\`
You need to add the task webhook url
with the \`taskord\` command
\`\`\`
            `
          }
          break
        case 'figlet':
          result = await this.onFiglet(args.join())
          break
        case 'usermod':
          if (!this.currentUser) {
            return
          }
          const handle = args[args.length - 1]
          this.$socket.emit('userUpdate', {
            handle
          })
          break
        case 'help':
          result = `
\`\`\`bash
Available commands:
 help    show this message, then exit
 usermod change your username
 figlet  output ascii art
 taskord set a webhook
 task    create a task
\`\`\`

          `
          break
        default:
          result = this.model.message
          break
      }
      this.model.message = ''
      if (result) {
        const message = {
          user: this.currentUser,
          room_id: this.$route.params.id,
          text: result,
          guest: false
        }
        await this.$http.post(`messages`, message)
      }
    },
    onTaskord(webhook) {
      window.localStorage.setItem('taskord', webhook)
      return 'Taskord webhook added :D'
    },
    async onTask(task) {
      const done = /^x\s/.test(task)
      const webhook = window.localStorage.getItem('taskord')
      const response = await this.$http.post(
        'messages/task',
        {
          task: task.replace(/^x\s/, ''),
          done
        },
        { params: { webhook } }
      )
      return 'Task successfully created :D'
    },
    onFiglet(text) {
      return new Promise((resolve, reject) => {
        figlet(
          text,
          {
            font: 'Standard'
          },
          (err, result) => {
            if (err) return reject(err)
            resolve(result)
          }
        )
      })
    },
    async notify(message) {
      if (Notification.permission === 'granted') {
        new Notification(message.handle || 'guest', {
          body: message.text
        })
      } else if (Notification.permission !== 'denied') {
        await Notification.requestPermission()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.term {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  position: relative;
  padding: 8px;
  background: black;
  @media screen and (max-width: 768px) {
    background: transparent;
  }
  &.active {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0);
    }
  }
}

a {
  cursor: pointer;
}

.pop-out {
  position: absolute;
  top: 8px;
  right: 8px;
  svg {
    fill: lime;
  }
}

textarea,
.messages {
  width: 100%;
}

textarea {
  flex-shrink: 1;
  border: none;
  outline: none;
  resize: none;
  background: #000;
  color: lime;
}

.send {
  button {
    background: none;
    outline: none;
    border: none;
    svg {
      fill: lime;
    }
  }
}

.messages {
  height: 100%;
  flex-grow: 1;
  margin: 0;
  overflow: scroll;
  word-break: break-word;
  p {
    color: white;
  }
  img {
    max-width: 100%;
  }
  @media screen and (max-width: 768px) {
    flex-grow: auto;
  }
}

.messages::-webkit-scrollbar {
  display: none;
}

.text {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

li {
  margin: 0;
  list-style: none;
}

small {
  color: $main;
  margin-left: 3px;
}
</style>
