<template>
  <transition name="popup">
    <div
      v-show="isActive"
      class="shadow p-4 text-xl z-50 w-full fixed left-0 bottom-0 right-0 items-center leading-none flex lg:inline-flex"
      role="alert"
      :class="[`bg-${background}`, `text-${color}`]"
    >
      <span class="font-bold flex-auto">
        {{ message }}
      </span>
      <svg
        v-if="closable"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"
        />
      </svg>
    </div>
  </transition>
</template>

<script>
import noticeMixin from '../mixins/noticeMixin'

export default {
  name: 'Toast',
  programmatic: true,
  mixins: [noticeMixin]
}
</script>

<style scoped lang="scss">
.popup-enter-active,
.popup-leave-active {
  transition: all 0.3s ease-in-out;
}
.popup-enter,
.popup-leave-to {
  transform: translateY(110%);
}
</style>
