<template>
  <ul class="hidden md:flex">
    <li class="relative" v-for="viewer of viewers">
      <div
        class="absolute bottom-100 tooltip"
        v-if="present[viewer.id]"
      >
        {{ viewer.handle }}
      </div>
      <figure
        @mouseover="present[viewer.id] = true"
        @mouseout="present[viewer.id] = false"
      >
        <img :src="viewer.avatar || '/img/default-user.jpg'" />
      </figure>
    </li>
  </ul>
</template>
<script>
import { mapState } from 'vuex'

export default {
  name: 'viewers',
  computed: {
    ...mapState({ viewers: state => state.users.stream.viewers })
  },
  data() {
    return {
      present: {}
    }
  }
}
</script>

<style lang="stylus" scoped>
ul  {
  flex: row wrap;
  padding: 4px;
  li {
    margin-right: -7px;
  }
  figure {
    width: 45px;
    height: 45px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
  .tooltip {
    @apply bg-gray-800 text-white py-1 px-2 rounded;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    &:after {
      @apply bg-gray-800 text-white;
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 8px;
      height: 8px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
</style>
