<template>
  <div id="app" class="font-sans">
    <navigation
      v-if="$route.name !== 'chat'"
      @open="isOpen = !isOpen"
    />
    <sidebar
      v-if="$route.name !== 'chat'"
      :class="{ active: isOpen }"
    />
    <main
      :class="{ pad: $route.name !== 'chat' }"
      class="min-h-screen flex"
    >
      <router-view
        class="flex-1"
        v-if="!$errorHandler.error"
        :key="$route.fullPath"
      />
      <error v-else />
    </main>
    <new-user
      v-if="currentUser && !currentUser.handle"
    ></new-user>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import Navigation from '@/components/Navigation'
import Sidebar from '@/components/Sidebar'
import NewUser from '@/components/NewUser'
import Error from '@/components/Error'
import Auth from '@/components/Auth'
import Foot from '@/components/Foot'

export default {
  name: 'app',
  components: {
    Navigation,
    Sidebar,
    Error,
    Auth,
    NewUser,
    Foot
  },
  metaInfo() {
    return {
      title: 'livehacks.tv',
      htmlAttrs: {
        lang: 'en'
      },
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content:
            'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
        },
        { name: 'application-name', content: 'Livehacks' },
        { name: 'theme-color', content: '#1C1C1C' },
        {
          name: 'description',
          vmid: 'description',
          content: `Watch people code live`
        },
        {
          property: 'og:title',
          vmid: 'og:title',
          content: 'livehacks.tv'
        },
        { property: 'og:type', content: 'website' },
        {
          property: 'og:url',
          vmid: 'og:url',
          content: 'https://livehacks.tv'
        },
        {
          property: 'og:description',
          vmid: 'og:description',
          content: `Watch people code live`
        },
        {
          property: 'og:image',
          content: '/img/icons/icon-above-font.png'
        },
        {
          property: 'twitter:image:src',
          content: '/img/icons/icon-above-font.png'
        },
        { property: 'og:site_name', content: 'Livehacks' }
      ],
      link: [{ rel: 'manifest', href: '/manifest.json' }],
      script: process.prod
        ? [{ src: 'https://cdn.splitbee.io/sb.js', async: true }]
        : []
    }
  },
  data() {
    return {
      isOpen: false,
      toasting: false,
      transition: null
    }
  },
  computed: {
    ...mapState({
      error: state => state.error,
      currentUser: state => state.auth.currentUser
    })
  },
  sockets: {
    logged({ currentUser, token }) {
      const Cookies = require('js-cookie')
      Cookies.set('token', token, {
        path: '',
        expires: 180
      })

      this.$socket.disconnect()
      this.$socket.io.opts.query = { token }
      this.$socket.connect()

      this.$store.commit('auth/setToken', token)
      this.$store.commit('auth/setCurrentUser', currentUser)

      if (this.$route.name === 'login') {
        this.$redirect('/')
      }
    },
    failure(err) {
      this.setError(err.message || err)
    }
  },
  watch: {
    $route() {
      this.isOpen = false
    },
    error() {
      const message = `Error ${this.error.statusCode || 500}: ${
        this.error.message || this.error
      }`
      this.$toast.open(
        {
          message,
          background: 'red-500',
          color: 'white'
        },
        this
      )
    }
  },
  methods: {
    ...mapMutations(['setError'])
  }
}
</script>

<style lang="scss">
@import '~highlight.js/styles/monokai.css';

body {
  @apply bg-gray-200;
}
.pad {
  @apply pt-16;
  position: relative;
}
small {
  @apply text-sm;
}
::-webkit-scrollbar-button {
  height: 13px;
  border-radius: 0px;
  background-color: #aaa;
}
::-webkit-scrollbar-button:hover {
  background-color: #9a9a9a;
}
::-webkit-scrollbar-thumb {
  background-color: #8d8787;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6a6565;
}
::-webkit-scrollbar-track {
  background-color: #000;
}
::-webkit-scrollbar-track:hover {
  background-color: #d1cdcd;
  border-radius: 6px;
}
::-webkit-scrollbar {
  width: 0;
}

.emoji p {
  font-size: 43px !important;
}
</style>
