<template>
  <section class="about p-8 w-full">
    <header class="flex flex-col text-center items-center">
      <div class="h-72">
        <no-ssr>
          <lottie-player
            v-pre
            autoplay
            loop
            mode="normal"
            src="https://assets2.lottiefiles.com/packages/lf20_nay3rc6w.json"
            class="w-72"
          >
          </lottie-player>
        </no-ssr>
      </div>
      <h1 class="text-3xl font-bold md:text-6xl">
        Just start streaming...
      </h1>
      <h4 class="text-1xl mt-4 font-bol md:text-3xld">
        Livehacks enables programmers to quickly broadcast their
        session to others.
      </h4>
      <p class="font-italic my-6">
        Want to checkout the code or contribute go
        <a
          href="https://gitlab.com/camwhite/livehacks"
          target="_blank"
          class="bg-black text-lime p-1 rounded-lg"
          >here</a
        >
      </p>
    </header>
    <article
      class="flex flex-col flex-wrap justify-around items-center w-full p-2 md:p-16 lg:flex-row"
    >
      <div
        class="bg-black flex items-center rounded-lg mb-4 mr-4"
      >
        <h1
          class="text-6xl font-bold p-4 bg-red-600 text-white rounded-lg"
        >
          {{ stats.currentlyLiveUsers }}
        </h1>
        <br />
        <p class="font-bold text-lime p-3">
          Currently live users
        </p>
      </div>
      <div
        class="bg-black flex items-center rounded-lg mb-4 mr-4"
      >
        <h1
          class="text-6xl font-bold p-4 bg-lime text-black rounded-lg"
        >
          {{ stats.totalStreams }}
        </h1>
        <br />
        <p class="font-bold text-lime p-3">
          Total streams
        </p>
      </div>
      <div
        class="bg-black flex items-center rounded-lg mb-4 mr-4"
      >
        <h1
          class="text-6xl font-bold p-4 bg-lime text-black rounded-lg"
        >
          {{ stats.totalUsers }}
        </h1>
        <br />
        <p class="font-bold text-lime p-3">
          Total users
        </p>
      </div>
      <div
        class="bg-black flex items-center rounded-lg mb-4 mr-4"
      >
        <h1
          class="text-6xl font-bold p-4 bg-lime text-black rounded-lg"
        >
          {{ stats.totalMessages }}
        </h1>
        <br />
        <p class="font-bold text-lime p-3">
          Total messages
        </p>
      </div>
    </article>
  </section>
</template>

<script>
if (process.client) {
  import('@lottiefiles/lottie-player')
}

export default {
  name: 'about',
  async asyncData({ route, store, app }) {
    const stats = await app.$http.get(`stats`)
    return { stats }
  }
}
</script>

<style lang="scss" scoped></style>
