<template>
  <div class="channel">
    <div class="stream">
      <player :source="streamSrc" />
    </div>
    <div
      class="sidebar mb-0 md:mb-8 p-0 md:p-2"
      :class="{ active: hasOverlay }"
    >
      <term @popped="onPopOut"></term>
      <viewers></viewers>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import _debouce from 'lodash/debounce'
import peerMixin from '@/mixins/peerMixin'
import Player from '@/components/Player'
import Term from '@/components/Term'
import Profile from '@/components/Profile'
import Viewers from '@/components/Viewers'

export default {
  name: 'channel',
  mixins: [peerMixin],
  components: { Player, Term, Profile, Viewers },
  async asyncData({ route, store, app }) {
    const endpoint = `streams/${route.params.id}`
    const stream = await app.$http.get(endpoint)
    if (stream) {
      store.commit('users/setStream', stream)
      store.commit('users/setUser', stream.user)
    } else {
      await store.dispatch('users/getUser', route.params.id)
      store.commit('users/setStream', {
        title: 'Untitled Hacking',
        description: 'Please update me',
        user: store.state.users.user
      })
    }
    await store.dispatch('users/getMessages', route.params.id)
  },
  data() {
    return {
      confirmed: null,
      showConfirm: false
    }
  },
  computed: {
    ...mapState({
      messages: state => state.users.messages,
      hasOverlay: state => state.users.hasOverlay
    })
  },
  watch: {
    async isLive(val) {
      if (!this.isStreamer) return
      if (val === false) {
        await this.handleUserMedia()
      } else if (val === null) {
        this.handleLeave()
      }
    }
  },
  created() {
    this.$socket.emit('join', this.stream)
  },
  mounted() {
    document.onkeyup = evt => {
      if (evt.which == 27 || evt.keyCode == 27) {
        this.setOverlay(false)
        clearTimeout(this.timeout)
      } else if (evt.keyCode === 79) {
        clearTimeout(this.timeout)
        this.setOverlay(true)
      }
    }
  },
  async beforeRouteUpdate(to, from, next) {
    if (!this.isLive || !this.isStreamer) {
      this.handleLeave()
      return next()
    }
    const self = this
    this.$modal.open({
      message: 'You are live! Are you sure you want to leave?',
      confirmText: 'Yes',
      cancelText: 'No Thanks',
      async handler(hasConfirmed, evt) {
        if (hasConfirmed) {
          self.handleLeave()
        }
        this.close()
        next(hasConfirmed)
      }
    })
  },
  async beforeRouteLeave(to, from, next) {
    if (!this.isLive || !this.isStreamer) {
      this.handleLeave()
      return next()
    }
    const self = this
    this.$modal.open({
      message: 'You are live! Are you sure you want to leave?',
      confirmText: 'Yes',
      cancelText: 'No Thanks',
      async handler(hasConfirmed, evt) {
        if (hasConfirmed) {
          self.handleLeave()
        }
        this.close()
        next(hasConfirmed)
      }
    })
  },
  sockets: {
    reconnect() {
      this.reconnected = true
      this.$socket.emit('join', this.stream)
    },
    join(data) {
      this.socketId = data
      if (this.reconnected && this.isLive) {
        return
      }
      this.$socket.emit('viewer', {
        viewerId: this.socketId,
        streamer: this.user
      })
    },
    peer(data) {
      if (this.isLive && this.isStreamer) {
        this.makeOffer(data)
      }
    },
    live(data) {
      this.$socket.emit('viewer', {
        viewerId: this.socketId,
        streamer: this.user
      })
    },
    signal(signal) {
      this.handleSignal(signal)
    },
    leave(peerId) {
      this.onLeave(peerId)
    }
  },
  methods: {
    ...mapMutations({
      setOverlay: 'users/setOverlay'
    }),
    onPopOut() {
      window.open(
        `${process.env.VUE_APP_DOMAIN}/chat/${this.user.id}`,
        'targetWindow',
        `toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=500,height=700`
      )
    },
    async handleUserMedia() {
      try {
        this.streamSrc =
          await navigator.mediaDevices.getDisplayMedia({
            audio: false,
            video: true
          })
        this.streamSrc.getVideoTracks()[0].onended = () =>
          this.handleLeave()
        this.audioSrc =
          await navigator.mediaDevices.getUserMedia({
            audio: true
          })
        const [track] = this.audioSrc.getAudioTracks()
        this.streamSrc.addTrack(track)
      } catch (err) {
        this.setLive(null)
        this.$store.commit('setError', err)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.channel {
  @apply bg-black;
  height: calc(100vh - 64px);
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
  /*@media screen and (min-width: 960px) {*/
  /*flex-direction: row;*/
  /*}*/
}
.stream {
  width: 100%;
  height: 100%;
}
.sidebar {
  @apply w-full;
  position: fixed;
  top: 65%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
  z-index: 999;
  &.active {
    transform: translateX(0);
  }
  @media screen and (min-width: 960px) {
    @apply w-72;
    top: calc(64px + 128px);
    bottom: 64px;
  }
}
.profile {
  flex: 0 1 auto;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
</style>
