<template>
  <div class="chat">
    <term></term>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Term from '@/components/Term'

export default {
  name: 'channel',
  components: { Term },
  async asyncData({ route, store, app }) {
    await store.dispatch('users/getMessages', route.params.id)
  },
  computed: {
    ...mapState({
      messages: state => state.users.messages
    })
  }
}
</script>

<style lang="scss" scoped>
.chat {
  height: 100vh;
  display: flex;
}
.term {
  width: 100%;
}
</style>
