<template>
  <div class="four-oh-four">
    <h1>404</h1>
    <p><em>That page cannot be found :/</em></p>
  </div>
</template>

<script>
export default {
  name: 'FourOhFour'
}
</script>

<style lang="scss" scoped>
.four-oh-four {
  text-align: center;
  padding: 16px;
  color: lime;
}
</style>
