<template>
  <div class="home">
    <no-ssr>
      <masonry
        :cols="{ default: 6, 2000: 4, 1400: 3, 1000: 2, 700: 1 }"
        :gutter="{ default: '2rem' }"
      >
        <live-stream
          :stream="stream"
          v-for="stream of streamsSorted"
          :key="stream.id"
        />
      </masonry>
    </no-ssr>
  </div>
</template>

<script>
import Vue from 'vue'
import LiveStream from '@/components/LiveStream'
import scrollMixin from '@/mixins/scrollMixin'

export default {
  name: 'home',
  components: { LiveStream },
  mixins: [scrollMixin],
  async asyncData({ app }) {
    const endpoint = 'streams'
    const streams = await app.$http.get(endpoint, {
      params: { next: 0 }
    })
    return { streams, endpoint }
  },
  computed: {
    streamsSorted() {
      return this.streams.sort((a, b) => {
        return !!a.deleted_at - !!b.deleted_at
      })
    }
  },
  mounted() {
    window.addEventListener('scroll', () => this.onScroll())
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll)
  },
  sockets: {
    stream(data) {
      this.streams.unshift(data)
      this.offset++
    },
    close(data) {
      const index = this.streams.findIndex(s => s.id === data.id)
      if (index !== -1) {
        const { user } = this.streams[index]
        data.user = user
        Vue.set(this.streams, index, data)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  padding: 24px;
}
</style>
