<template>
  <div class="login">
    <h1>Logging you...</h1>
  </div>
</template>

<script>
export default {
  name: 'login',
  mounted() {
    this.$socket.emit('login', this.$route.query.access_token)
  }
}
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
</style>
