<template>
  <div class="stats">
    <graph :chart-data="dataset" />
  </div>
</template>

<script>
import moment from 'moment'
import Graph from '@/components/Graph'

export default {
  name: 'stats',
  components: { Graph },
  async asyncData({ route, store, app }) {
    const endpoint = `stats/${route.params.id}`
    const stats = await app.$http.get(endpoint)

    return { stats }
  },
  computed: {
    dataset() {
      const labels = Array.from('f'.repeat(30))
        .map((a, index) =>
          moment()
            .hour(0)
            .minute(0)
            .second(0)
            .subtract(index, 'days')
        )
        .reverse()
      const datasets = [
        {
          label: 'hours streamed',
          backgroundColor: 'lime',
          data: labels.map(label => {
            return this.stats
              .filter(stream => {
                return moment(
                  new Date(stream.created_at)
                ).isBetween(
                  new Date(label),
                  moment(new Date(label)).add(24, 'hours')
                )
              })
              .reduce((acc, stream) => {
                const hours = moment(stream.deleted_at).diff(
                  moment(stream.created_at),
                  'hours'
                )

                return acc + hours
              }, 0)
          })
        }
      ]
      return {
        labels: labels.map(label => label.format('ddd MMMM Do')),
        datasets
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.channel {
  height: calc(100vh - 64px);
  padding-bottom: 40px;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
  @media screen and (min-width: 960px) {
    flex-direction: row;
  }
}
.stream {
  width: 100%;
  @media screen and (min-width: 960px) {
    width: 78%;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 8px;
  width: 100%;
  min-height: 0;
  @media screen and (min-width: 960px) {
    width: 22%;
  }
}
.profile {
  flex: 0 1 auto;
}
</style>
